[package]
name = "badger"
version = "0.1.0"
authors = ["Suntharesan Mohan <suntharesan.mohan@gmail.com>"]
edition = "2018"
publish = false

[lib]
name = "badger"

[dependencies]
cssparser = "0.25"
hashbrown = "0.3"
lazy_static = "1.3"
maud = "0.20"
rusttype = "0.7"
scraper = "0.10"
unicode-normalization = "0.1"

clap = "2.33"
structopt = "0.2"

[workspace]
members = [
  "badge-web"
]

[[bin]]
name = "badger"
